*{
    margin: 0;
    padding: 0;
    border-radius: 15px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: sans-serif ; 
    justify-content: center;
    background: -webKit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background-size: cover;
}
.container{
    position: relative;
    width: 400px;
    height: 700px;
    background: url(./image-2.PNG.jpg);
    padding: 60px 40px;
}
header{
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Montserrat',sans-serif;
}
.input-field, form .button{
    margin: 25px;
    position: relative;
    height: 50px;
    width: 100%;
    margin-left: -1px;
}
.input-field input{
    height: 100%;
    width: 100%;
    border: 3px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 20px;
    transition: .4s;
}
input:focus{
    border: 1px solid #1DA1F2;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: grey;
    font-size: 12px;
    transition: .4s;
}
input:focus ~ label,
input:valid ~ label{
    transform: translateY(-33px);
    background: white;
    font-size: 16px;
    color: #1DA1F2;
}
form .button{
    margin-top: 30px;
    overflow: hidden;
    z-index: 111;
}
.button .inner{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
    background: -webKit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
}
.button.button:hover .inner{
    left: 0;
}
.button button{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}